body {
    background-color: #D8B4A0;
}

h1, h2 {
    text-align: center;
}

nav {
    background-color:#D77A61;

}

.first-section {
    color: #223843;
    border-width: 5px;
    border-style: solid;
    border-color: #4ECDC4;
}

footer {
    background-color: #4ECDC4;
}

.about-css {
    background-image: url(../images/background.jpeg);
}